body {
  background: white;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: lighter;
  line-height: 1.8; }

body h4 {
  color: orange; }

.nav {
  background: #920d92; }

.nav li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
  color: whitesmoke; }

.nav li > a:hover {
  color: #db13dc;
  background: purple; }

.nav li > a:active {
  color: #db13dc;
  background: purple; }

.nav .navbar-brand {
  color: white;
  font-weight: bolder;
  font-size: 16px; }

ul li a {
  color: dimgrey;
  margin: 5px; }

.content .row-dark .image-center,
.content .row-light .image-center {
  width: 150px;
  height: 150px;
  padding: 10px; }

.content .row-dark .image-center img,
.content .row-light .image-center img {
  height: 95%;
  width: 95%;
  display: block;
  margin: 0 auto;
  min-width: 120px; }

.content {
  width: 100%;
  margin: 0 auto; }

.content h4 {
  margin-top: 40px;
  margin-bottom: 20px; }

.content .row {
  margin: 0;
  padding: 2%; }

.content .height-max {
  min-height: 100vh;
  overflow: auto; }

.content .row-dark {
  background-color: purple;
  background-image: linear-gradient(144deg, #700570 0%, #a21aa5 51%, #8d21a1 75%);
  background: url(../images/bg.png) center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: whitesmoke;
  min-height: 50vh; }

.content .row-dark .image-center {
  margin: 2% auto; }

.content .row-dark .content-body {
  max-width: 768px;
  margin: 0 auto; }

.content .row-light {
  color: dimgrey; }

.content .row-light .image-center {
  margin: 2% auto; }

@media (max-width: 599px) {
  .content .row-light .image-center {
    width: 33%; } }

.content .row-light .content-body {
  max-width: 768px;
  margin: 0 auto; }

.content .button-center {
  text-align: center;
  margin: 0 auto; }

.content .button-center a {
  text-align: center;
  font-size: small; }

@media (min-width: 768px) {
  .content .button-center {
    width: 100%; } }

.content .button-right {
  text-align: right; }

.content .button-light {
  background: orange;
  color: whitesmoke;
  border-radius: 5px;
  padding: 10px;
  margin: 15px 0 -30px 0;
  border: none;
  display: inline-block;
  width: 49%;
  font-weight: bold;
  text-decoration: none;
  line-height: 2;
  background-image: linear-gradient(to right, #ff792f 0%, #ff9710 51%, #ff792f 100%);
  background-color: orange; }

.content .button-light:hover {
  background-image: linear-gradient(to left, #ff7022 0%, #ff9710 51%, #ff7022 100%);
  box-shadow: 1px 1px 10px 1px #80008061; }

.content .button-empty {
  background: transparent;
  color: whitesmoke;
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
  width: 49%;
  font-weight: bold;
  text-decoration: none;
  line-height: 2;
  background-image: linear-gradient(to right, #b314b3 0%, #c54dc8 51%, #b314b3 100%);
  background-color: purple; }

.content .button-empty:hover {
  color: whitesmoke;
  background-image: linear-gradient(to right, #9e0b9e 0%, #c54dc8 51%, #9e0b9e 100%);
  box-shadow: 1px 1px 10px 1px #7e0587; }

.content .home {
  display: flex;
  align-items: center;
  height: 100vh; }
  .content .home .text-intro {
    margin-bottom: 50px; }
    .content .home .text-intro span {
      color: #ffa500c7; }
    .content .home .text-intro h3 {
      color: #cb93d2;
      font-weight: lighter; }

.content .home .image-center {
  height: 100%;
  width: 100%; }

.content .home .button-center {
  text-align: none; }

.content .about .booster-truck {
  height: 100% !important; }

.content .etl-logos .image-center {
  width: 100% !important; }

.content .contribute h2 {
  margin-bottom: 30px; }

.content .get-started-now div {
  text-align: center;
  margin-bottom: 60px; }

.content .get-started-now div .desc {
  color: #cb93d2; }

.content .get-started-now .card-deck {
  display: block;
  width: 70%;
  margin: 30px auto; }

@media (min-width: 768px) {
  .content .get-started-now .card-deck {
    display: flex;
    width: 100%; } }

.content .get-started-now .card-deck .card {
  width: 100%;
  background: white;
  border-radius: 5px;
  color: grey;
  padding: 10px;
  flex: 1;
  margin: 10px auto; }

@media (min-width: 768px) {
  .content .get-started-now .card-deck .card {
    margin: 10px; }
  .content .get-started-now .card-deck .card:hover {
    box-shadow: #62186e 1px 1px 40px 1px; } }

.content .get-started-now .card-deck .card .card-body .card-title {
  text-align: center;
  color: orange; }

.content .get-started-now .card-deck .card .card-body .card-text {
  height: 50px;
  text-align: center; }

.content .get-started-now .card-deck .card .card-body .image-center {
  position: relative;
  margin: 0 auto;
  border: none; }

.content .get-started-now .card-deck .card .card-body .image-center .image-shrink {
  max-height: 80%;
  max-width: 80%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.content .contact .col-md-4 {
  border: 1px solid blue; }

.you-are-grey {
  -webkit-filter: grayscale(90%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.2;
  transition-property: opacity, -webkit-filter, -moz-filter;
  transition-duration: 0.2s; }

.you-are-grey:hover {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
  -ms-filter: grayscale(0);
  filter: grayscale(0);
  opacity: 1; }

.vertical-center {
  display: flex;
  align-items: center; }

.table {
  font-size: 14px; }

.table th {
  vertical-align: middle !important;
  border: none !important; }

.table td {
  vertical-align: middle !important;
  text-align: center; }

.table td li {
  text-align: left; }

.table td img {
  width: 20px;
  height: 20px; }

.table .small {
  font-size: 12px; }

.grow {
  transition: all 0.2s ease-in-out; }

.grow:hover {
  transform: scale(1.01); }

#docs {
  min-height: 100vh; }

#docs .banner {
  padding: 1%;
  background-color: #f5f0fd; }

#docs .button-light {
  width: max-content !important;
  font-weight: normal !important;
  margin: 0 !important;
  padding: 0px 10px;
  font-size: 14px; }

#docs .bg-grey {
  background-color: whitesmoke; }

#docs .menu ul {
  list-style-type: none; }

#docs .menu ul.bullet {
  list-style-image: url(../images/bullet.png); }

#docs .menu ul:hover {
  cursor: pointer; }

#docs .menu ul:hover a {
  text-decoration: none; }

#docs .docs-text h1,
#docs .docs-text h2,
#docs .docs-text h3,
#docs .docs-text h4,
#docs .docs-text h5,
#docs .docs-text h6 {
  color: orange;
  margin: 50px 0 20px 0; }

#docs .docs-text p {
  color: #6e6969;
  margin: 10px 0 10px 0; }

.footer {
  padding: 10px;
  background-color: #f5f0fd; }

.note {
  font-size: smaller;
  margin: 20px 0; }

pre {
  border: none;
  background: #f8f6fc;
  color: #600260;
  padding: 2px 4px;
  padding-top: 20px;
  font-size: 90%;
  border-radius: 4px; }

code {
  background: #f8f6fc;
  color: #600260; }
