# Byte-compiled / optimized / DLL files
__pycache__/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Documentation
doc

collections.yml
setup.yml

**/.DS_Store

*.log